main {
    position: relative;
}

.sectionFooter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 0 230px;
    clear: both;
    text-align: center;
    position: relative;
    bottom: 0px;
    margin-left: 230px;
	background: linear-gradient(-45deg, #ee7752, #e04980a3, #00b0f0c2, #23d5ab);
	background-size: 200% 200%;
	animation: gradient 15s ease infinite;
}
.sectionFooterAjust {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 0 230px;
    clear: both;
    text-align: center;
    position: relative;
    bottom: 0px;
    margin-left: 0;
	background: linear-gradient(-45deg, #ee7752, #e04980a3, #00b0f0c2, #23d5ab);
	background-size: 200% 200%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* FOOTER FIRST PART */
.sectionFooter-first-part {
    display: flex;
    flex-direction: column;
    width: 100%;
}
    .sectionFooter-first-part
        .logos-footer {
            display: flex;
            justify-content: space-between;
        }
        .sectionFooter-first-part
            .logos-footer img {
            background: #ffffff40;
        }

.sectionFooter-first-part
    .contact-footer .button-contact-footer {
        background: transparent;
        color: #fff;
        border: 3px solid #fff;
        text-transform: uppercase;
        font-size: 18px;
        padding: 5px 20px;
}
    .sectionFooter-first-part
        .contact-footer .button-contact-footer:hover {
            background-color: #E04980;
            color: #fff;
    }
    .sectionFooter-first-part
        .contact-footer .button-contact-footer:active {
            background-color: #fff;
            color: #E04980;
            border: 1px solid #fff;
    }
    .sectionFooter-first-part
        .contact-footer .button-contact-footer:focus {
            outline: none !important;
    }

.sectionFooter-first-part
    .social-icons-footer {
        display: flex;
        justify-content: space-evenly;
        margin: 25px 0;
        position: relative;
        width: 25%;
        left: 50%;
        transform: translate(-50%, 15px);
}
    .sectionFooter-first-part
        .social-icons-footer svg {
            width: 40px;
            font-size: 40px;
            color: #fff;
    }

/* FOOTER SECOND PART */
.sectionFooter-second-part .position-link-footer{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    cursor: pointer;
}
    .sectionFooter-second-part .position-link-footer > li > a > label{
        margin: 0;
        padding: 5px 20px;
        color: white;
        text-transform: uppercase;
        cursor: pointer;
    }
        .sectionFooter-second-part .position-link-footer > li > a > label:hover{
            border-radius: 50px;
            background-color: #fff;
            color: #E04980;
        }

/* FOOTER THIRD PART */
.sectionFooter-third-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
    .sectionFooter-third-part .logo-ressource-relationnelle-footer {
        margin: 50px 0;
        width: 15%;
    }
    .textFooter{
        margin: 0;
        position: relative;
        bottom: 2px;
        color: white;
        font-size: 15px;
        text-align: left;
    }

@media (max-width: 992px){
    .position-link-footer{
        flex-direction: column;
    }
}