.None {
    display:none;
}
.LeftNavBar{
    background: linear-gradient(146deg, rgb(250 250 250) 0%, rgb(252 204 221) 100%);
    top: 3rem;
    color: white;
    position: fixed;
    width: 230px;
    height: 100%;
    overflow-y: auto;
    z-index: 1;
}

.LeftNavBar .link-button-wizard-add-ressource:hover  {
    text-decoration: none;
}
.LeftNavBar .button-wizard-add-ressource {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    padding: 15px;
    color: #00b0f0;
    font-weight: bold;
    text-align: center;
    background-color: transparent;
}
    .LeftNavBar .button-wizard-add-ressource:hover {
        background-color: #00b0f0;
        color: #fff;
    }
    .LeftNavBar .button-wizard-add-ressource > i {
        display: flex;
        font-size: 30px;
    }
        .LeftNavBar .button-wizard-add-ressource > i > svg > path {
            stroke: #00b0f0;
        }
        .LeftNavBar .button-wizard-add-ressource:hover > i {
            stroke: #00b0f0;
            background-color: #00b0f0;
        }
        .LeftNavBar .button-wizard-add-ressource:hover > i > svg > path {
            stroke: #fff;
        }

    .LeftNavBar .button-wizard-add-ressource > span {
        margin-left: 5px;
        font-size: 15px;
    }

.LeftNavBar>ul{
    list-style: none;
    display: contents;
    position: absolute;
}
    .LeftNavBar > ul > li:last-child {
        display: none;
    }

.LeftNavBar>ul>li>h5{
    margin-top: 25px;
    text-align: center;
}
.nav-link{
    padding: 15px !important;
}
nav>ul>li>p.positionTextSeparationLeftNavBar{
    text-align: center;
    margin-top: 15px;
    border-top: 1px solid #DDDDDD;
    padding: 5px 0 0 10px;
    color: black;
    margin-bottom: 10px;
}

nav>ul>li>a{
    display: flex !important;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    color: #707070;
    font-size: 15px;
    padding-left: 10px;
    font-weight: 500;
}
    nav>ul>li>a.active{
        background-color: #604d54;
        color: white !important;
    }
    nav>ul>li>a:hover{
        background-color: #604d54;
        color: white;
    }

nav>ul>li>i{
    color: #00B0F0;
    font-size: 25px;
}
nav>ul>li>a>i{
    display: flex;
    text-align: center;
    width: 30px;
    margin: 5px;
    text-shadow: 0px 0px 9px rgb(0 0 0 / 13%);
    background-color: transparent;
    background-image: linear-gradient(45deg, rgba(224,73,128,1) 13%, rgb(224 73 128 / 45%) 55%, #00b0f0ad 74%);
    color: transparent !important;
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 25px;
    text-decoration: none;
}
nav>ul>li>a> .text-position-nav-bar {
    margin-left: 15px;
}
nav>ul>li>a>label{
    cursor: pointer;
    color: #707070;
    font-size: 15px;
    padding-left: 10px;
    font-weight: 500;
}

/*----------- BOUTON & MODALE : AJOUTER UNE RESSOURCE ------------*/
 .custom-btn {
    color: #fff;
    border-radius: 50px;
    padding: 10px 20px;
    font-family: 'Roboto';
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s;
  }
.buttonAddResource {
    margin-left: .8rem;
    margin-top: 2rem;
    margin-bottom: .8rem;
    border: none;
    background: linear-gradient(270deg, #E04980 -39.12%, rgba(255, 255, 255, 0) 100%), #E04980;
    border-radius: 46px;
    overflow: hidden;
    backface-visibility: hidden;
  }
  .buttonAddResource:hover {
      text-decoration: none;
      color: white;
      opacity: .9;
  }
.buttonAddResource span {
    display: inline-block;
    width: 100%;
    height: 100%;
    transition: all 0.3s;
}
.buttonAddResourceTransition::before {
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 2.5;
    transition: all 0.3s;
}
.custom-btn::before{
    speak: none;
    -webkit-font-smoothing: antialiased;
}
.custom-btn::after{
    content:'';
    position: absolute;
    z-index:-1;
    transition: all 0.3s;
}
/*------------ MODALE ADD RESOURCE ------------ */
.form-check{
    cursor: pointer;
    padding:0 1.1rem;
}
.form-check-label{
    cursor: pointer;
}

/*------------ CATEGORIE ADD RESOURCE ----------- */
.categorieContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.categorieContainer2{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.categorieAddResource{
    display:flex;
}

.badge_AddResource {
    height: 30px;
    border-style: solid;
    border-color: #E04980;
    border-radius: 20px;
}
.cb_AddResource {
    cursor: pointer;
}
.colorCardBadge2 label:hover{
    cursor: pointer;
    color: white;
    background-color: #E04980;
}
input[type=radio]{
    opacity: 1;
}

/*----------- BOUTTON ADD RESOURCE ------------*/

.btn_ValiderAddResource {
    border-style: none;
    color:white;
    width: 5rem;
    border-radius: 20px;
    background: linear-gradient(270deg, #E04980 -39.12%, rgba(255, 255, 255, 0) 100%), #E04980;
}
