/*#region MYACCOUNT*/
.componentMyAccount {
  display              : flex;
  width                : 100%;
  height               : 100%; min-height: 877px;
  background-color     : #E04980;
}
  .componentMyAccount h1 {
    margin-top         : -40px;
    padding-bottom     : 20px;
    color              : #858585;
  }
.divLeftNavBarMyAccount {
  display              : grid;
  grid-template-columns: 200px minmax(auto, 800px) 1fr;
  grid-gap             : 2rem;
}
  .divLeftNavBarMyAccount > img {
    position           : absolute;
    right              : 0;
    width              : 78%;
    height             : 60%;
  }
/*#endregion MYACCOUNT*/