.parent-about{
    flex-direction: column !important;
    align-items: center;
}

.child-about-informations{
    display: block;
    margin: auto;
}
    .child-about-informations > .logo{
        display: flex;
        justify-content: center;
        margin-top: 100px;
    }
        .child-about-informations > .logo >img{
           width: 40%;
        }

    .child-about-informations > .text {
        display: block;
        margin: auto;
    }
        .child-about-informations > .text p {
            margin: 75px 0 !important;
            font-size: 32px;
            font-weight: 300;
            line-height: 1.3;
            text-align: center;
        }


.child-about-liberty{
    display: flex;
    flex-direction: column;
    align-items: center;
}
    .child-about-liberty li{
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }
        .child-about-liberty li:nth-child(2n){
            align-items: flex-end;
        }

        .child-about-liberty span{
            display: flex;
            font-size: 45px;
        }
            .child-about-liberty span strong.background-under{
                margin-left: 7px;
                z-index: 0;
            }
                .child-about-liberty strong.background-under:after{
                    display: block;
                    position: relative;
                    content: "";
                    bottom: 30px;
                    height: 40%;
                    right: -10px;
                    background: #00b0f0;
                    z-index: -1;
                }

        .child-about-liberty p {
            margin-top: 10px !important;
            width: 50%;
            color: #292929;
            font-size: 14px;
            font-weight: 300;
            line-height: 1.5;
        }
