/*#region LEFTNAVBAR_MYACCOUNT*/
.leftNavBarMyAccount {
    width: 100%;
    min-width: 250px;
}
    .leftNavBarMyAccount ul {
        padding: 0;
    }
        .leftNavBarMyAccount ul li a {
            color:white;
        }
        .leftNavBarMyAccount ul li a:hover {
            background-color: white;
            color: #E04980;
        }
        .leftNavBarMyAccount ul li a.active {
            background-color: white;
            color: #E04980 !important;
        }
            .leftNavBarMyAccount ul li a img {
                padding-right: 10px;
            }
/*#endregion*/