
.formSignIn input::placeholder {
   color           : var(--c, #6b6b6b);
}

#errorMsg {
   font-family     : 'Roboto medium';
   text-align      : center;
   color           : #ff0000;
   margin-bottom   : 10px;
}
.rouge {
   background-color: var(--error, #ffa7a7) !important;
   border          : solid 2px red !important;
   color           : white !important;
}
