.div_ResourceContainer {
    margin: 4rem 0rem 0rem 14rem;
}
.ul_ResourceContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
}
/*--- LOADING */
.loading {
    height: 100px;
    margin: 30px;
}
